<div id="highlights" class="py-6 px-6 lg:px-20 mx-0 my-12 lg:mx-20">
    <!-- <div class="text-center">
        <div class="text-surface-900 dark:text-surface-0 font-normal mb-2 text-4xl">Envoyez de l'argent facilement</div>
        <span class="text-muted-color text-2xl">Transferts rapides et sécurisés vers la Guinée</span>
    </div> -->

    <div class="grid grid-cols-12 gap-4 mt-20 pb-2 md:pb-20">
        <div class="flex justify-center items-end col-span-12 lg:col-span-6 p-0 order-1 lg:order-0 overflow-hidden" style="border-radius: 8px;">
            <img src="assets/demo/images/Group 39815.png" class="w-full" alt="mockup mobile" style="margin-bottom: -3rem; max-width: 600px;" />
        </div>

        <div class="col-span-12 lg:col-span-6 my-auto flex flex-col lg:items-end text-center lg:text-right gap-4">
            <div class="flex items-center justify-center bg-purple-200 self-center lg:self-end" style="width: 4.2rem; height: 4.2rem; border-radius: 10px">
                <i class="pi pi-fw pi-mobile text-4xl! text-purple-700"></i>
            </div>
            <div class="leading-none text-surface-900 dark:text-surface-0 text-3xl font-normal">Experience sur Mobile Intuitive</div>
            <span class="text-surface-700 dark:text-surface-100 text-2xl leading-normal ml-0 md:ml-2" style="max-width: 650px">
                Envoyez de l'argent en quelques clics depuis votre téléphone. Interface simple et rapide pour tous vos transferts vers la Guinée.
            </span>
        </div>
    </div> 
</div>