<div class="card">
  <div class="flex justify-between items-center mb-8">
    <div class="font-semibold text-xl">Historique de Transferts</div>
    <div>
      <button
        pButton
        type="button"
        class="p-button-text p-button-plain text-sm underline"
      >
        Afficher +
      </button>
    </div>
  </div>

  <ul class="list-none p-0 m-0">
    <ng-container *ngFor="let t of transfers; let last = last">
      <li
        class="flex flex-col md:flex-row md:items-center md:justify-between py-2"
      >
        <div>
          <span
            class="text-surface-900 dark:text-surface-0 text-base font-medium mr-2 mb-0 md:mb-0"
          >
            {{ t.name }}
          </span>
          <div class="mt-1 text-muted-color text-xs">
            {{ t.dateLabel }}
          </div>
        </div>

        <div
          class="mt-2 md:mt-0 flex items-center md:justify-end md:min-w-[140px]"
        >
          <span class="{{ t.providerClass }} text-xs font-medium">
            {{ t.provider }}
          </span>
          <span class="text-teal-500 ml-4 font-medium">
            {{ t.amount }}
          </span>
        </div>
      </li>

      <!-- Séparateur entre les lignes, sauf après la dernière -->
      <hr
        *ngIf="!last"
        class="my-2 border border-surface-100 dark:border-surface-800"
      />
    </ng-container>
  </ul>
</div>
