             <!-- <div class="bg-surface-0 dark:bg-surface-900 p-4 md:p-4 shadow-sm rounded-2xl w-full max-w-sm mx-auto flex flex-col gap-4"> -->

             <div class="bg-surface-0 dark:bg-surface-900 rounded-xl flex flex-col gap-4 w-full mx-auto p-6 ">
                <div class="flex flex-col items-center gap-4">
                    
                    <div class="flex flex-col items-center gap-2 w-full mt-4">
                        <div class="text-surface-900 dark:text-surface-0 text-2xl font-semibold leading-tight text-center w-full">Faire un depoôt</div>
                        <!-- <div class="text-center w-full">
                            <span class="text-surface-700 dark:text-surface-200 leading-normal">Taux</span>
                           <a class="text-primary font-medium ml-1 cursor-pointer hover:text-primary-emphasis">1€ = 10 700 GNF</a> 
                        </div> -->
                    </div>
                </div>
                <div class="flex flex-col gap-6 w-full mt-4">
                    <div class="flex flex-col gap-2 w-full">
                        <label for="email1" class="text-surface-900 dark:text-surface-0 font-medium leading-normal">Montant à envoyer?</label>
                        <input pInputText id="email1" type="text" placeholder="EUR" class="w-full px-3 py-2 shadow-sm rounded-lg" />
                    </div>
                    <div class="flex flex-col gap-2 w-full">
                        <label for="password1" class="text-surface-900 dark:text-surface-0 font-medium leading-normal">Montant reçu</label>
                        <input pInputText id="password1" type="text" placeholder="GNF" class="w-full px-3 py-2 shadow-sm rounded-lg" />
                    </div>
                </div>
                <button pButton class="w-full py-2 rounded-lg flex justify-center items-center gap-2 mt-4">
                    <span pButtonLabel>Continuer </span>
                    <i pButtonIcon class="pi pi-arrow-right text-base! leading-normal!"></i>
                </button>
                
                    <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between w-full gap-3 sm:gap-0 mt-4">
                        <div class="flex  items-center gap-2">
                             <span for="rememberme1" class="text-surface-900 dark:text-surface-0 leading-normal">Taux d'échange</span><br/>
                             <p for="rememberme1" class="text-primary dark:text-surface-0 leading-normal">1€ = 10 700 GNF</p>

                        </div>
                        <!-- <a class="text-primary font-medium cursor-pointer hover:text-primary-emphasis">1€ = 10 700 GNF</a> -->
                    </div>
            </div>
 